<section class="section">
  <div class="container">
    <article class="card cafe-detail-card">
      <div class="card-image cafe-detail-image">
        <figure class="image is-3by1">
          <img src="{{#if cafe.imageUrl}}{{cafe.imageUrl}}{{else}}/assets/images/placeholder.jpg{{/if}}"
               alt="{{cafe.name}}">
        </figure>
        <span class="cafe-detail-tag" style="background-color: {{cafe.categoryColour}};">{{cafe.category}}</span>
      </div>
      <div class="card-content">
        <div class="cafe-detail-head">
          <h1 class="title is-3 cafe-detail-name">{{cafe.name}}</h1>
          <span class="cafe-detail-views" title="Views">
            <span class="icon is-small"><i class="fas fa-eye"></i></span>
            <span>{{cafe.analytics.views}} views</span>
          </span>
        </div>
        {{#if cafe.description}}
        <div class="content cafe-detail-description">
          <p>{{cafe.description}}</p>
        </div>
        {{/if}}
        {{#if cafe.latitude}}{{#if cafe.longitude}}
        <p class="cafe-detail-coords">
          <span class="icon is-small has-text-grey" aria-hidden="true"><i class="fas fa-map-marker-alt"></i></span>
          <span>{{cafe.latitude}}, {{cafe.longitude}}</span>
        </p>
        {{/if}}{{/if}}
        {{> cafe-map}}
        <div class="buttons mt-4">
          <a href="/cafes" class="button">
            <span class="icon"><i class="fas fa-arrow-left"></i></span>
            <span>Back to cafes</span>
          </a>
          {{#if canDelete}}
          <form action="/cafes/{{cafe._id}}/delete" method="POST" onsubmit="return confirm('Delete this cafe?');">
            <button type="submit" class="button is-danger">
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
              <span>Delete</span>
            </button>
          </form>
          {{/if}}
        </div>
      </div>
    </article>
  </div>
</section>
